.promo{
    background-image: url("../assets/bg-transparent-3.png");
    background-color: #1e3120;
    padding-top: 27px;
    font-size: 20px;
    span{
        color: white;
        
        padding: 0 35px;
    }
    a{
        color: #bcc2bd;
    }
}